</main>

    <div class="container">
        <footer>
            <%const date = new Date();%>
            <%const currentYear = date.getYear() + 1900;%>
            <p>© <%= currentYear %> Natalie Blumen</p>
        </footer>

    </div>
</body>

</html>